
table, th, td {
	border: 1px solid black;
	background-color: #F0F0F0;
	border-collapse: collapse;
	padding: 15px;
	text-align: left;
	vertical-align: top;

}
#posts {
	width: 500px;
	height: 100px;
}
#date {
	padding: 15;
}
#msg {
	vertical-align: middle;
	padding-left: 25;
}
body {
	background-color: ;
}